/* style.css */

/* Reset some default browser styles */
body, h1, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo{
    color: red;
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
    background-color: aquamarine;
}
